@font-face {
    font-family: ubuntuBold;
    src: url('/assets/fonts/Ubuntu-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: ubuntuMedium;
    src: url('/assets/fonts/Ubuntu-Medium.ttf');
    font-weight: medium;
}
@font-face {
    font-family: ubuntuRegular;
    src: url('/assets/fonts/Ubuntu-Regular.ttf');
    font-weight: regular;
}